<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello BorrowBee!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <span class="logo">BorrowBee</span>

        <span class="logged-in-user">
          <%= if user = current_user(@conn) do %>
            Logged in as
            <strong><%= user.name || user.email %></strong>
            <br>
            <%= link "Log out", to: session_path(@conn, :delete), method: :delete %>
          <% else %>
            <%= link "Log in", to: session_path(@conn, :new) %>
          <% end %>
        </span>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <nav>
        <ul>
          <li><%= link "Users", to: user_path(@conn, :index) %></li>
          <li><%= link "Items", to: item_path(@conn, :index) %></li>
          <li><%= link "Collections", to: collection_path(@conn, :index) %></li>
          <li><%= link "Communities", to: community_path(@conn, :index) %></li>
        </ul>
      </nav>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
