<h2>Your communities</h2>

<%= unless @communities do %>
  <p>
    It looks like you haven't joined any communities yet!
    <%= link "Find or create a community", to: community_path(@conn, :index) %>
  </p>
<% else %>
  <%= render BorrowBee.CommunityView, "list.html", conn: @conn, communities: @communities %>
<% end %>
